<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
<mapper namespace="Board">  

<!-- 회원 : 메인에 조회수 순으로 출력 8개 -->
 <select id="selectMax_main"  resultType="R2BoardVO" >
 		select rownum "num",main_img,re_view,category,title,board_num
          from (
                    select main_img,re_view,category,title,board_num
                    from re_board2
                    order by re_view desc)
    <![CDATA[
    where rownum <=8
     ]]>
 </select>
 
 <!-- 관리자 : 메인에 조회수 순으로 출력 6개 -->
 <select id="selectMax_main2"  resultType="R1BoardVO" >
 		select rownum "num",main_img,re_view,category,title,board_num
          from (
                    select main_img,re_view,category,title,board_num
                    from re_board
                    order by re_view desc)
    <![CDATA[
    where rownum <=6
     ]]>
 </select>
 
 


 
</mapper>